* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to right, #a517ba, #5f1797);
  padding: 0 !important;
}
.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-bars {
  color: #ffff;
  font-size: 30px !important;
}
.navbar-toggler {
  outline: none !important;
}

/*---------banner section--------------*/
#banner {
  background-image: linear-gradient(to right, #a517ba, #5f1797);
  color: #fff;
  padding-top: 5%;
}
.promo-title {
  font-size: 40px;
  font-weight: 600;
}
.play-btn {
  width: 45px;
  margin: 20px;
}
#banner a {
  color: #fff;
  text-decoration: none;
}
.home-img {
  width: 60%;
}
.bottom-img {
  width: 100%;
}
/*-------Services section-----------*/
#services {
  padding: 80px 0;
}
.service-image {
  width: 100px;
  margin-top: 20px;
}
.services {
  padding: 20px;
  border: 2px solid #a517ba;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 400px;
}
.services:hover {
  color: white;
  background: linear-gradient(0deg, #5f1797, #a517ba);
}
.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}
.title::before {
  content: "";
  background: #5f1797;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
.title::after {
  content: "";
  background: #5f1797;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}
#services .btn-primary {
  padding: 8px 25px;
  border: none;
  border-radius: 25px;
  box-shadow: none;
  background: linear-gradient(to right, #a517ba, #5f1797);
}
#services .btn-primary a {
  text-decoration: none;
  color: inherit;
}

/*-------About us-------*/
#aboutus {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgb(243, 235, 252);
}
.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}

#aboutus p {
  text-align: justify;
}

/*-------testimonials-------*/
#testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 100px 0;
}
.testimonials {
  margin-top: 50px;
  margin-bottom: 50px;
  border-left: 4px solid #7b1798;
}
.testimonials img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}
.user-data {
  display: inline-block;
  font-size: 12px;
}

/*------social media-------*/
#social-media {
  padding: 100px 0;
}
#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icon img {
  width: 60px;
  transition: 0.5s;
}
.social-icon a:hover img {
  transform: translateY(-10px);
}
/*--------footer-----*/
#footer {
  background: linear-gradient(to right, #a517ba, #5f1797);
  color: #fff;
}
.footer-img {
  width: 100%;
}
.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}
.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background: linear-gradient(to right, #a517ba, #5f1797);
}
.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}
.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background: linear-gradient(to right, #a517ba, #5f1797);
}
.copyright {
  text-align: center;
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
